<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Names</key>
		<array>
			<string>Dessert Rose</string>
			<string>Grenada</string>
			<string>Pink BLush</string>
		</array>
		<key>Details</key>
		<array>
			<string>Dessert Rose Rose</string>
			<string>PFFTS</string>
			<string>SweetESTEST wine. GOod with fruits. Not german boay</string>
		</array>
		<key>Foods</key>
		<array>
			<string>Dessert and turkey</string>
			<string>Porks but no fillet</string>
			<string>Chocolate ice creams</string>
		</array>
		<key>Temperatures</key>
		<array>
			<string>Dessert-25-30-35</string>
			<string>Hot! HotHot! Hot</string>
			<string>Mildly warm. Bom-bom Mildly warm. Bom-bom Mildly w. Bom-bom Mildly w. Bom-bom Mildly warm. Bom-bom</string>
		</array>
		<key>Images</key>
		<array>
			<string>wine3.jpg</string>
			<string>wine2.jpg</string>
			<string>wine1.jpg</string>
		</array>
	</dict>
</plist>